<script>
	window.currentCollection = {
		handle: {{ collection.handle | json }},
		productCount: {{ collection.products_count | json }}
  }
</script>

<div id="app-collection">
	<collection-template />
</div>